body {
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
}

html {
  overflow-x: hidden;
}


img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}