<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Nevatrip-test-task</title>
</head>

<body>
    <h1 class="visually-hidden">Экскурсии по рекам и каналам</h1>
    <section class="trip-card">
        <div class="container trip-card__wrapper">
            <div class="trip-card__image--peterburg visually-hidden--desktop card-image">
                <p class="trip-card__badge badge card-badge visually-hidden--desktop">
                    Новинка
                </p>
            </div>
            <div class="trip-card__image--desktop trip-card__image--bridge visually-hidden--mobile card-image">
                <p class="trip-card__badge badge badge--blue visually-hidden--mobile">
                    Новинка
                </p>
            </div>
            <small class="trip-card__timing timing">2 часа</small>
            <h2 class="trip-card__label visually-hidden--desktop">
                АКЦИЯ - Обзорная экскурсия по рекам и каналам с остановками Hop on Hop
                Off 2019
            </h2>
            <h2 class="trip-card__label visually-hidden--mobile">
                Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off
                2020
            </h2>
            <ul class="trip-card__list benefit-list">
                <li class="trip-card__item benefit-list__item">
                    Билет на целый день
                </li>
                <li class="trip-card__item benefit-list__item">
                    Неограниченное число катаний
                </li>
                <li class="trip-card__item benefit-list__item">
                    6 остановок у главных достопримечательностей
                </li>
                <li class="trip-card__item benefit-list__item">
                    Ближайший рейс сегодня
                    <p class="trip-card__buttons">
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button visually-hidden--desktop">
                            12:00
                        </button>
                    </p>
                </li>
                
            </ul>
            <div class="trip-card__footer">
                <div class="trip-card__cost">
                    <h3 class="trip-card__sum">900 &#8381;</h3>
                    <p class="trip-card__pier-sum visually-hidden--desktop">1200 р на причале</p>
                    <p class="trip-card__pier-sum visually-hidden--mobile">1200 &#8381; на причале</p>
                </div>
                <div class="trip-card__submit">
                    <a href="#" class="info-button">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
    <section class="trip-card">
        <div class="container trip-card__wrapper">
            <div class="trip-card__image--peterburg-larger visually-hidden--desktop">
                <p class="trip-card__badge trip-card__badge--top-left badge--purple badge visually-hidden--desktop">
                    Новинка
                </p>
            </div>
            <div class="trip-card__image--desktop trip-card__image--peterburg-desktop visually-hidden--mobile">
                <p class="trip-card__badge trip-card__badge--top-center badge badge--desktop visually-hidden--mobile">
                    Круглый год
                </p>
            </div>
            <small class="trip-card__timing timing">2 часа</small>
            <h2 class="trip-card__label visually-hidden--desktop">
                АКЦИЯ - Обзорная экскурсия по рекам и каналам с остановками Hop on Hop
                Off 2019
            </h2>
            <h2 class="trip-card__label visually-hidden--mobile">
                Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off
                2020
            </h2>
            <ul class="trip-card__list benefit-list">
                <li class="benefit-list__item">
                    Билет на целый день
                </li>
                <li class="benefit-list__item">
                    Неограниченное число катаний
                </li>
                <li class="benefit-list__item">
                    6 остановок у главных достопримечательностей
                </li>
                <li class="benefit-list__item">
                    Ближайший рейс сегодня
                    <p class="trip-card__buttons">
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                    </p>
                </li>
            </ul>
            <div class="trip-card__footer">
                <div class="trip-card__cost">
                    <h3 class="trip-card__sum">2900 &#8381;</h3>
                    <p class="trip-card__pier-sum visually-hidden--mobile">1200 &#8381; на причале</p>
                    <p class="trip-card__pier-sum visually-hidden--desktop">1200 р на причале <br> dmfklsfsdfl</p>
                </div>
                <div class="trip-card__submit">
                    <a href="#" class="info-button">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
    <section class="trip-card visually-hidden--mobile">
        <div class="container trip-card__wrapper">
            <div class="trip-card__image--desktop trip-card__image--music">
            </div>
            <small class="trip-card__timing timing">2 часа</small>
            <h2 class="trip-card__label">
                Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off
                2020
            </h2>
            <ul class="trip-card__list benefit-list">
                <li class="benefit-list__item">Билет на целый день</li>
                <li class="benefit-list__item">Неограниченное число катаний</li>
                <li class="benefit-list__item">
                    6 остановок у главных достопримечательностей
                </li>
                <li class="benefit-list__item">Ближайший рейс сегодня
                    <p class="trip-card__buttons">
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                        <button class="trip-card__button time-button">12:00</button>
                    </p>
                </li>
            </ul>
            <div class="trip-card__footer">
                <div class="trip-card__cost">
                    <h3 class="trip-card__sum">900 &#8381;</h3>
                    <p class="trip-card__pier-sum visually-hidden--desktop">1200 р на причале</p>
                    <p class="trip-card__pier-sum visually-hidden--mobile">1200 &#8381; на причале</p>
                </div>
                <div class="trip-card__submit">
                    <a href="#" class="info-button">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
    <script src="./js/script.js"></script>
</body>

</html>